#menu-helper {
	float: left;
	margin: 0 10px;
	padding: 8px 0;
}

#main-menu-holder {
	background-color: white;
	left: 0;
}

.a-t {
	transform: translate3d(0, -5px, 0);
	-webkit-transform: translate3d(0, -5px, 0);
	-moz-transform: translate3d(0, -5px, 0);
	position: absolute;
	top: 0;
}

.a-b {
	transform: translate3d(0, 8px, 0);
	-webkit-transform: translate3d(0, 8px, 0);
	-moz-transform: translate3d(0, 8px, 0);
	position: fixed;
	bottom: 0;
	z-index: 1031;
}

.anim-menu-inactive {
	height: 0;
	opacity: 0;
}

.anim-menu-active {
	opacity: 1;
	height: auto;
	box-shadow: 3px -2px 5px -3px #ccc;

	transition: all 218ms;
	-webkit-transition: all 218ms;
	-moz-transition: all 218ms;
}

#main-menu>li>a {
	cursor: pointer;
}

#image-signed-in {
	margin: 5px;
}

.dropdown-logout {
	float: left;
	margin: 15px 0 15px -10px;
}